/* font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

:root {
  /* Шрифты */
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /* Цвета */
  --accent-txt: #2196f3;
  --primary-txt: #212121;
  --secondary-txt: #ffffff;
  --half-txt: #757575;
  /* цвета фона */
  --dark-fons: #2f303a;
  --light-fons: #f5f4fa;
}

.header {
  background: var(--secondary-txt);
}

.header-link,
.footer-link {
  font-family: var(--secondary-font);
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-txt);
}
.logo-primary {
  color: var(--primary-txt);
}
.logo-secondary {
  color: var(--secondary-txt);
}

.header-mail {
  font-family: var(--main-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-txt);
}
.header-phone {
  font-family: var(--main-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--half-txt);
}
.header-item {
  font-family: var(--main-font);
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-txt);
}
.hero {
  background: var(--dark-fons);
}
.hero-title {
  font-family: var(--main-font);
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-txt);
}
.hero-btn {
  background: var(--accent-txt);
}
.hero-btn-color {
  font-family: var(--main-font);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-txt);
}
body {
  font-family: var(--main-font);
  color: var(--primary-txt);
  line-height: 1.4;
  letter-spacing: 0.03em;
}
.title {
  font-family: var(--main-font);
  line-height: 1.17;
  color: var(--primary-txt);
}

.subtitle {
  font-family: var(--main-font);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-txt);
}

.about-descr {
  font-family: var(--main-font);
  line-height: 1.71;
  color: var(--half-txt);
}

.team {
  background: var(--light-fons);
}
.team-name {
  font-family: var(--main-font);
  line-height: 1.19;
  color: var(--primary-txt);
}
.team-position {
  font-family: var(--main-font);
  line-height: 1.19;
  color: var(--half-txt);
}

.footer {
  background: var(--dark-fons);
}

.footer-item {
  font-family: var(--main-font);
  line-height: 1.71;
  color: var(--secondary-txt);
}

/* Портфолио */

.project-name {
  font-family: var(--main-font);
  line-height: 2;
  color: var(--primary-txt);
}

.project-filter {
  font-family: var(--main-font);
  line-height: 1.88;
  color: var(--half-txt);
}
